<script src="/js/winSelector.js"></script>
<script src="/js/deleteGiveaway.js"></script>
<script src="/js/endGiveaway.js"></script>
<script src="/js/adminLiveUpdatePlayerList.js"></script>
<div class="container-fluid">
  <h1><%=JSON.stringify(currentUser) %></h1>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
      <li><a class="nav-link" href="/giveawayList"><h5>Join A Giveaway</h5></a></li>
      <li><a href="/admin/adminGiveawayList"><h5>Giveaway List</h5></a></li>
    </ul>
  </nav>
</div>

<h1 class="text-center"><%= giveaway.name %></h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3"> 
    <div class="well">
      <% if(!giveaway.ended) { %>
        <button id="endGiveaway" class="btn btn-info">End the Giveaway</button>
      <% } %>
      <% if(giveaway.ended) { %>
        <h3>This giveaway has ended.</h3>
      <% } %>
      <button id="selectWinner" class="btn btn-success">Pick A Winner</button>
      <button id="deleteThis" class="btn btn-danger">Delete this Giveaway</button>
      <span class="numberOfPlayer" giveawayId="<%=giveaway.id%>">
      </span>
      <ul class="playerList" playerListId="<%=giveaway.id%>">
      </ul>
    </div>
    <div class="well text-center">
      <h1 id="winner">
      </h1>
    </div>
  </div>
</div>