<% if(currentUser) { %>

  <nav class="container-fluid" id="nav">
    <ul class="nav nav-tabs">
      <% if(currentUser.admin) { %>
        <li role="presentation"><a href="/admin/makeAGiveaway">Make A Giveaway</a></li>
        <li role="presentation"><a href="/admin/adminList">Edit Admins</a></li>
        <li role="presentation"><a href="/giveaway/adminGiveawayList">Manage Giveaways</a></li>
      <% } %>
      <li role="presentation"><a href="/giveawayList">Join A Giveaway</a></li>
      <li role="presentation"><a href="/profile/<%= currentUser.id %>"><%= currentUser.username %>'s Profile</a></li>
    </ul>
  </nav>

<% } %>