<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
      <li><a class="nav-link" href="/giveawayList"><h5>Join A Giveaway</h5></a></li>
      <li><a class="nav-link" href="/admin/adminList"><h5>Edit Admins</h5></a></li>
      <li><a class="nav-link" href="/profile"><h5><%=currentUser.username %></h5></a></li>
    </ul>
  </nav>
</div>
