<% if(currentUser) { %>
  <ul class="nav nav-tabs">
    <% if(currentUser.admin) {%>
      <li role="presentation" class="active"><a href="/auth/loggedIn">Make A Giveaway</a></li>
      <li role="presentation"><a href="/admin/adminList">Edit Admins</a></li>
      <li role="presentation"><a href="/admin/adminGiveawayList">Giveaway Admin List</a></li>
    <% } %>
    <li role="presentation"><a href="/giveawayList">Join A Giveaway</a></li>
    <li role="presentation"><a href="/profile/<%= currentUser.id %>"><%= currentUser.username %></a></li>
  </ul>
<% } %>