<script src="/js/liveUpdatePlayerList.js"></script>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a class="nav-link" href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
    <li><a class="nav-link" href="/admin/adminList"><h5>Edit Admins</h5></a></li>
  </ul>
</nav>

<h1 class="text-center">Current Running Giveaways</h1>

<div class="row">

  <div class="col-md-6 col-md-offset-1">
    <% giveaways.forEach(function(giveaway) { %>
      <div class="well">
        <h3><strong><%=giveaway.name%></strong></h3>
        <a href="/admin/playerList/<%=giveaway.id%>"><h6>Select This Giveaway</h6></a>
        <span class="numberOfPlayer" playerNumberId="<%=giveaway.id%>">
        </span>
        <ul playerListId="<%=giveaway.id%>">
        </ul>
      </div>
    <% }); %>
    <h1 id="winner" class="text-center"></h1>  
  </div>

</div>
