<script src="/js/addRemoveAdmin.js"></script>
<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
      <li><a href="/admin/adminGiveawayList"><h5>Giveaway List</h5></a></li>
    </ul>
  </nav>
</div>

<h1 class="text-center">Admin Privilege Panel</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form action="/admin/adminListAdd" method="POST" accept-charset="utf-8">
      <div class="form-group">
        <label for="adminNameGive">Admin Privelege</label>
        <input type="text" class="form-control" id="adminNameGive" name="adminNameGive" required>
      </div>
      <div class="form-group">
        <h6>Auth Provider</h6>
        <input id="authTwitch" type="radio" name="auth" value="Twitch" checked/>Twitch
        <input id="authBeam" type="radio" name="auth" value="Beam"/>Beam
      </div>
      <button class="btn btn-success">Add</button>
    </form>
      <button id="removeAdmin" class="btn btn-danger">Remove</button>
  </div>
</div>

<h1 class="text-center">Current Admins</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <% allAdmins.forEach(function(admin) { %>
          <h3><strong><%=admin.username%></strong> verified through <strong><%=admin.auth%></strong></h3>
      <% }); %>
    </div>
  </div>
</div>

