<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
    <li><a href="/admin/adminGiveawayList"><h5>Giveaway List</h5></a></li>
    <li><a class="nav-link" href="/admin/adminList"><h5>Edit Admins</h5></a></li>
  </ul>
</nav>

<h1 class="text-center">Admin Control Panel</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form action="/admin/adminGiveawayList" method="POST" accept-charset="utf-8">
      <div class="form-group">
        <label for="giveawayName">Giveaway Name</label>
        <input type="text" class="form-control" id="giveawayName" name="giveawayName" required>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
