<script src="/js/winSelector.js"></script>
<script src="/js/deleteGiveaway.js"></script>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a class="nav-link" href="/auth/loggedIn"><h5>Make A Giveaway</h5></a></li>
    <li><a href="/admin/adminGiveawayList"><h5>Giveaway List</h5></a></li>
  </ul>
</nav>

<h1 class="text-center">Giveaway Edit</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3">  
    <% playerList.forEach(function(player) { %>
      <div class="well">
        <h6><%= player.username %></h6>
        <h6><%= player.auth %></h6>
      </div>
    <% }); %>
    <button id="selectWinner" class="btn btn-info">End the Giveaway</button>
    <button id="selectWinner" class="btn btn-success">Pick A Winner</button>
    <button id="deleteThis" class="btn btn-danger">Delete this Giveaway</button>
    <h1 id="winner">
    </h1>
  </div>
</div>