<div class="jumbotron">
  <div class="well text-center">
    <h1>Chat Command List</h1>
    <div class="row">
      <img id="twitchLogo" src="/img/twitch-purple.jpg"/>
      <img id="beamLogo" src="/img/connect-beam.png"/>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action list-group-item-success">
      !kiwis 
      <span class="bold">Reveals your current Kiwi coin count</span>
    </div>
  </div>
</div>