<div class="jumbotron">
  <h1 class="text-center">Twitch Commands <img id="twitchLogo" class="center-block" src="/img/twitch-purple.jpg"/></h1>
  <ul class="list-group">
    <li class="list-group-item">!kiwis <span class="bold">Shows current Kiwi count</span></li>
  </ul>
  <h1 class="text-center">Beam Commands <img class="center-block" id="beamLogo" src="/img/connect-beam.png"/></h1>
  <ul class="list-group">
    <li class="list-group-item">!kiwis <span class="bold">Shows current Kiwi count</span></li>
  </ul>
</div>