<div class="col-lg-4 col-lg-offset-4 text-center">
  <h1>Twith and Beam Chat Command List</h1>
</div>

<div class="container text-center">
  <div class="col-lg-6 col-lg-offset-3">
    <h4>User Actions</h4>
    <div class="list-group">
      <div class="list-group-item list-group-item-action list-group-item-success">
        !kiwis 
        <span class="bold">Reveals your current Kiwi coin count</span>
      </div>
    </div>


    <h4>Tweak's Chat Games Commands</h4>
    <div class="list-group">   
      <div class="list-group-item list-group-item-action list-group-item-info">
        <h5>Guess the total of Tweak's groceries during IRL streams!</h5>
        <h6>On Twitch, /w kiwicopbot your guess <strong>Example:</strong> $45.50 or 45.45</h6>
        <h6>On Beam, /w kiwicopbotbeam your guess <strong>Example:</strong> $45.50 or 45.45</h6>
      </div>
    </div>


    <h4>Beam Chat Commands for Gifs</h4>
    <div class="list-group">   
      <div class="list-group-item list-group-item-action list-group-item-info">
        !jc
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !ashdance
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !high5
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !bark
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !f1licky
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !lol
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !cashme
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !scream
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !gl
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !join
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !yes
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !no
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !noidea
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !party
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !bye
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !sloth
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !what
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !sup
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !wet
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !wink
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !lose
      </div>
      <div class="list-group-item list-group-item-action list-group-item-info">
        !lazy
      </div>
    </div>
  </div>
</div>

 <!-- List of Gifs: !jc !ashdance !high5 !bark !f1icky !lol !cashme !scream !gl !join !yes !no !noidea !party !bye !sloth !what !sup !wet !wink !lose !lazy !phone -->