<div class="jumbotron">
  <div class="well text-center">
    <h1>Chat Command List</h1>
    <div class="row">
      <img id="twitchLogo" src="/img/twitch-purple.jpg"/>
      <img id="beamLogo" src="/img/connect-beam.png"/>
    </div>
  </div>
  <div class="list-group">
<!--     <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> -->
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">!kiwis <span class="bold">Reveals your current Kiwi coin count</span></a>
<!--     <a href="#" class="list-group-item list-group-item-action list-group-item-info">Cras sit amet nibh libero</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Vestibulum at eros</a> -->
  </div>
</div>