<nav class="navbar navbar-light">
  <ul class="nav navbar-nav">
  </ul>
</nav>

<div class="container">

  <div class="col-md-6 col-md-offset-3">
  
    <h1 class="text-center"> Current Running Giveaways</h1>
    
      <% giveaways.forEach(function(giveaway) { %>
        <div class="well">
          <h6><a href="/giveaway/<%=giveaway.id%>"><%=giveaway.name%></a></h6>
        </div>
      <% }); %>
    
  </div>
</div>

