<h1 class="text-center">Tweak's Stream</h1>

<div class="text-center jumbotron col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
  <h5><a href="/auth/twitch">
    <img id="twitchLogoSmall" src="/img/twitch-purple.jpg"/> Authorize via Twitch</a>
  </h5>
  <h5><a href="/auth/beam">
    <img id="beamLogoSmall" src="/img/connect-beam.png"/> Authorize via Beam</a>
  </h5>
  <form action="/testUser/login" method="POST" accept-charset="utf-8">
    <input class="hide" type="hidden" name="username" value="guest">
    <input class="hide" type="hidden" name="password" value="guest">
    <input type="submit" class="button-text" value="Guest">
  </form>
</div>
