<script src="/js/loginUi.js"></script>

<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="/auth/twitch"><img src="/img/connect-twitch.png"/></a>
      </div>
      <div class="modal-footer">
        <a href="/auth/beam">Beam</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.mod