<script src="./js/loginUi.js"></script>
<div id="loginBox">
  <div class="row">
    <div id="twitchDiv" class="col-md-12 text-center">
      <a href="/auth/twitch">Twitch</a>
    </div>
    <div id="beamDiv" class="col-md-12 text-center">
      <a href="/auth/beam">Beam</a>
    </div>
  </div>
</div>