<script src="js/loginUi.js"></script>
<div class="container-full">
  <div class="row">
    <div id="twitchDiv" class="col-md-6 text-center">
      <!-- <h1> -->
        <a href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=cvmjz4nnl2lh1f30abf9hvgedsg6q6u&redirect_uri=https%3A%2F%2Ftweak-game-temp.herokuapp.com%2Ftwitch_oauth_endpoint&scope=user_read chat_login channel_feed_read">Twitch</a>
    <!--   </h1> -->
    </div>
    <div id="beamDiv" class="col-md-6 text-center">
      <!-- <h1> -->
        <a href="#">Beam</a>
      <!-- </h1> -->
    </div>
  </div>
</div>

