<script src="/js/loginUi.js"></script>

<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <a href="/auth/twitch"><img class="center-block" src="/img/connect-twitch.png"/></a>
        <a href="/auth/beam"><img class="center-block" src="/img/connect-beam.png"/></a>
      </div>
    </div>
  </div>
</div>