<script src="/js/loginUi.js"></script>

<div class="modal" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <a href="/auth/twitch">Twitch</a>
  </div>
  <div class="modal-footer">
    <a href="/auth/beam">Beam</a>
  </div>
</div>