<div class="container">
  <h1 class="text-center">Welcome, <%= user.username %></h1>
</div>
<div class="container">
  <%if (user.admin) { %>
    <div class="col-md-6 col-md-offset-3">
      <form action="/admin/makeGame" method="POST" accept-charset="utf-8">
        <label for="giveawayName">Giveaway Name</label>
        <input name="giveawayName" id="giveawayName" type="text" required/>
        <button class="btn btn-success">Submit</button>
      </form>
    <a href="/admin/adminControl"><h3>Giveaway Control Panel</h3></a>
    </div>
  <% } %>
</div>

