<script src="/js/tradingCards.js"></script>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><span id="sentFromId"><%= user.id %></span><span id="sentFromName"><%= user.username %></span></h1>
  </div>
</div>
<h1 class="text-center">Tradable Games</h1>
<div id="tradingArea" class="container">
</div>
<h1 class="text-center">Trading Window</h1>
<h2 class="text-center" id="messageBox"></h2>
<div id="tradingDiv" class="container">
  <div class="row">
    <div id="tradeWindowOut" class="col-md-4">
    </div>
    <div id="tradeWindowIn" class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3>Current players</h3>
      <div id="currentPlayers" class="text-center"> 
      </div>
    </div>
  </div>
  <div class="row">
    <div id="tradeWindowOutInfo" class="col-md-4 text-center">
      <div class='text-center'>
        <button id="clearOutTrade" class="btn btn-danger">Clear Outgoing Trade</button>
      </div>
      <div class="text-center">
        <select id="playerDropDown" class="selectpicker" data-size="5">
          <optgroup id="playerTradeList" label="Players">
          </optgroup>f
        </select>
      </div>
      <div class='text-center'>
        <h4>Sending to: <span id="playerOut"></span></h4>
        <h4>Sending: <span id="gameListOut"></span></h4>
      </div>
    </div>
    <div id="tradeWindowInfo" class="col-md-4 text-center">
      <div class='text-center'>
        <button id="acceptTrade" class="btn btn-info">Accept Trade Request</button>
        <button id="clearIncTrade" class="btn btn-danger">Clear Incoming Trade Request</button>
      </div>
      <div class='text-center'>
        <h4>Receiving from: <span id="playerIn"></span></h4>
        <h4>Receiving: <span id="gameListIn"></span></h4>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center">Trade in progress: <span id="tradeInProgress"></span></h1>
<h1 class="text-center">Owned Games</h1>
<div id="ownedGames" = class="container">
</div>
<div class="well">
  <h2 class="text-center">Giveaways Won</h2>
  <% contests.forEach(function(contest) { %>
    <h3><strong><%=contest.name%></strong></h3>
    <h5><strong>Ended <%=moment(contest.updatedAt).tz("America/Los_Angeles").format('LLL')%> PST</strong></h5>  
  <% }); %>  
</div>