<script src="../js/winSelector.js"></script>
<div class="container">
  <div class="col-md-6 col-md-offset-3">  
    <% playerList.forEach(function(player) { %>
      <div class="well">
        <h6><%= player %></h6>
      </div>
    <% }); %>
    <button id="selectWinner" class="btn btn-success">Pick A Winner</button>
    <button id="deleteThis" class="btn btn-danger">Delete this Giveaway</button>
    <h1 id="winner">
    </h1>
  </div>
</div>