<script src="/js/3rdparty/TimeCircles.js"></script>
<script src="/js/auctionTimer.js"></script>

<div class="jumbotron text-center">
  <h1>Auction</h1>
  <h3 id="timerMessage"></h3>
  <div id="timerDisplay">
  </div>
</div>