<script src="/js/3rdparty/TimeCircles.js"></script>
<script src="/js/auctionTimer.js"></script>

<div class="container col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
  <h1>Auction</h1>
  <div class="list-group-item list-group-item-action list-group-item-success">
    You currently have <span id="kiwiCoinDisplay" class="bold"></span> Kiwi coins.
  </div>
  <div>
  <div class="list-group">   
    <div class="list-group-item list-group-item-action list-group-item-info">
      Prize: <span id="auctionPrize" class="bold">None yet</span>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-info">
      Current Bid Leader: <span id="highestBidder" class="bold">None yet</span>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-info">
      Current Bid: <span id="highestBid" class="bold">None yet</span>
    </div>
  </div>

  <div class="list-group-item list-group-item-action list-group-item-heading">

    <form id="form" action="/auction/viewerAuction/bid" method="POST">

    <input id="bidInput" class="form-control" name="bid" type="number" placeholder="0" required>
 
    <input id="userId" type="number" name="userId" class="hide">

    <button id="submitBid" type="submit" class="btn-primary success">Bid!</button>
    </form>

  </div>
  <div class="list-group-item list-group-item-action list-group-item-success">
    <h3 id="timerMessage"></h3>
    <div id="timerDisplay">
    </div>  
  </div>
</div>

<div id="myId" class="hide">
  <%= id %>
</div>