*, h1 {
  font-family: 'Dosis', sans-serif;
}

html, body {
  background-color: #9A9DA2;
}

input {
  color: black;
}

h5 {
  font-weight: bold;
}

a, a:hover, a:active {
  color: black;
  text-decoration: none;
}

#loginBox, .well {
  background-color: #F9FFE1;
}


#nav {
  background-color: #E6E7FF;
  font-size: .9em;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 100px;
}
  
#logo {
  width: 20px;
}

#beamLogo {
  width: 80px;
}

.playerList {
  list-style-type: none;
}

ul.nav-tabs > li {
  width: 20%;
  text-align: center;
}

.btn {
  border-radius: 0px;
}