*, h1 {
  font-family: 'Dosis', sans-serif;
}

body { 
  background-color: #9A9DA2;
}

html {
  background-color: #9A9DA2;
}

input {
  color: black;
}

h5 {
  font-weight: bold;
}

a, a:hover, a:active {
  color: #6F4BFF;
  text-decoration: none;
  font-size: 2.5em;
}

#loginBox, .well {
  background-color: #F9FFE1;
}

#logo {
  width: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: #201E1E;
}
  
#beamLogo {
  width: 80px;
}

ul.nav-tabs > li {
  width: 33%;
  text-align: center;
}

.playerList {
  list-style-type: none;
}

.btn {
  border-radius: 0px;
}