html {
  font-family: 'Neuton', serif;
}

h1, h2, h5 {
  font-weight: 700; 
  line-height:2; 
  font-weight: bold;
}

input {
  color: black;
}

a, a:hover, a:active {
  color: black;
  text-decoration: none;
}

#playerDropDownContainter {
  padding-top: 40px;
  padding-bottom: 30px;
}

#buttons {
  margin-top: 15px;
}

#colorSample {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  border: 2px solid black;
}

.fixedHeight {
  width: 250;
  height: 96px;
}

.autocomplete-suggestion {
  font-size: 2em;
}

#playerDropDown {
  width: 75%;
}

#loginBox, .well {
  background-color: white;
}

#nav {
  background-color: white;
  font-size: .9em;
}

#sentFromId {
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 100px;
}
  
#logo {
  width: 20px;
}

#beamLogo {
  width: 80px;
}

#tradingDiv {
  min-height: 300px;
}

#tradeWindowIn {
  border: 3px solid black;
  height: 300px;
}

#tradeWindowInfo {
  height: 200px;
}

#tradeWindowOut {
  border: 3px solid blue;
  height: 300px;
}

#tradeWindowOutInfo {
  height: 200px;
}

#messageBox {
  min-height: 90px;
}

.nameSpace {
  height: 90px;
}

.highlight {
  background-color: #625C80;
}

.foundhome {
  background-color: gray;
}

.cards, .cardsStatic {
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  height: 140px;
  width: 140px;
  background-color: #806F77;
}

.playerList {
  list-style-type: none;
  padding: 0;
}

.hide {
  display: hidden;
}

ul.nav-tabs > li {
  width: 20%;
  text-align: center;
}

.btn {
  border-radius: 0px;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
  background-color: #222;
}

.page-title span {
  color: #d14c45;
}

.toggle-container {
  display: block;
  text-align: center;
}

.button {
  text-transform: uppercase;
  background-color: #222;
  display: block;
  padding: 5px;
}

/*wheel*/

input[type='checkbox'] + label { 
  padding-left:.5em; 
}

label,
#filterToggle { 
  display:inline-block; 
}

#venues { 
  padding: 30px; 
  overflow:hidden; 
  background: #222;
}

#venues .venue-title {
  border-bottom: 2px solid #333;
  margin: 0 30px 20px;
  display: block;
  clear: both;
}

#venues ul, #players {
  clear:both;
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

#venues li { 
  float:left; 
  width:25%; 
  line-height: 1.5; 
  vertical-align:middle; 
}

#filterToggle { 
  border-radius: 0 0 3px 3px; 
  cursor: pointer; 
  margin-left: .5em; 
  margin-top:-1px; 
  padding:.5em; 
}

#filterToggle:before {
  content: "+";
  display: inline-block;
  margin: 0 5px 0 0;
}

#filterToggle.open:before {
  content: "-";
}

#wheel {
  margin: 50px auto;
  width: 600px;  
}