<script src="/js/liveUpdatePlayerList.js"></script>


<div class="container-fluid">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Current Running Giveaways</h1>
      <% giveaways.forEach(function(giveaway) { %>
        <div class="well">
          <h3><strong><%=giveaway.name%></strong></h3>
          <form action="/keyPhrase/<%=giveaway.id%>" method="POST" accept-charset="utf-8">
            <div class="form-group">
              <% if(!giveaway.ended) { %>
                <input name="keyphrase" type="text" class="form-control"/>
                <button type="submit" class="btn btn-info">Enter Giveaway</button>
              <%}%>
              <% if(giveaway.ended) { %>
                <h3>This giveaway is over!</h3>
              <%}%>
            </div>
          </form>
        <span class="numberOfPlayer" giveawayId="<%=giveaway.id%>">
        </span>
        <ul class="playerList" playerListId="<%=giveaway.id%>">
        </ul>     
        </div>
      <% }); %>  
  </div>
</div>

