Login
<form action="/testUser/login" method="POST" accept-charset="utf-8">
  username<br>
  <input type="text" name="username"><br>
  pass<br>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>