<div class="well">

  <div class="text-center h3">Login</div>

  <form class="form-control" action="/testUser/login" method="POST" accept-charset="utf-8">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" class="btn-primary" value="Submit">
  </form>
</div>