<div class="well">

  <div class="text-center h3">Sign Up</div>

  <form class="form-control" action="/testUser/signup" method="POST" accept-charset="utf-8">
    
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" class="btn-primary" value="Submit">

  </form>
</div>